<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<script type="text/javascript" src="/assets/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/assets/script.js"></script>
</head>
<body>
<div class="header">
		<div class="">
			<img src="/uploads/images/<%=detl.img%>" alt="<%= detl.img%>">
		</div>
		<div class="cwel">
			<h1 class="wel">Welcome <%=detl.name%></h1>
		</div>
		<!-- //1611101939943IMG-20200921-WA0004  "C:\Users\user\Documents\Programming\JavaScript Files\login project\public\uploads\images\1611101939943IMG-20200921-WA0004.jpg" -->
</div>
<div style="font-size: 30px">

  	<label>Name:</label> <label><%= detl.name %></label><br><br>

  	<label>Age:</label> <label><%= detl.age %></label><br><br>

  	<label>Email:</label> <label><%= detl.email %></label><br><br>

  	<label>Telephone:</label> <label><%= detl.telephone %></label><br><br>

</div>


</body>
</html>
